<div class="footer-container">
    <div class="container">
        <div class="footer-nav">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" style="padding-bottom: 25px;">
                    <h4 style="margin-bottom: 10px;">Contact</h4>
                    <div class="contact-details">
                        <p>M: +44 (0) 7795 553905</p>
                        <p>T: 01636 679884</p>
                        <p>E:
                            <a href="mailto:info@laceboutique.uk">info@laceboutique.uk</a>
                        </p>
                        <ul>
                            <li>
                                <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6" style="padding-bottom: 25px;">
                    <h4 style="margin-bottom: 10px;">Help</h4>
                    <div class="help-details">
                        <p>Delivery</p>
                        <p>Returns</p>
                        <p>FAQs</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6" style="padding-bottom: 25px;">
                    <h4 style="margin-bottom: 10px;">Account</h4>
                    <div class="account-details">
                        <p>My Account</p>
                        <p>Wish List</p>
                        <p>Order History</p>
                        <p>Cancellation & Returns</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6" style="padding-bottom: 25px;">
                    <h4 style="margin-bottom: 10px;">Discover</h4>
                    <div class="discover-details">
                        <p>Designers</p>
                        <p>Looks</p>
                        <p>Newsletter</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6" style="padding-bottom: 25px;">
                    <h4 style="margin-bottom: 10px;">About</h4>
                    <div class="about-details">
                        <p>About Us</p>
                        <p>Stock With Us</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <p class="copyright-details">
                        &copy; <strong>Lace Boutique</strong> | <a href="">Terms & Conditions</a> | <a href="">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>