<div class="account-menu">
    <ul class="site-nav-ul">
        <li>
            <a [routerLink]="['/account']" href="">Account Overview</a>
        </li>
        <li>
            <a [routerLink]="['/account/my-details']" href="">My Details</a>
        </li>
        <li>
            <a [routerLink]="['/account/my-orders']" href="">My Orders</a>
        </li>
        <li>
            <a [routerLink]="['/account/address-book']" href="">Address Book</a>
        </li>
        <li>
            <a [routerLink]="['/account/contact-preferences']" href="">Contact Preferences</a>
        </li>
        <li>
            <a [routerLink]="['/shop/category/shoes']" href="">Help</a>
        </li>
        <li>
            <a (click)="attemptLogout();">Sign Out</a>
        </li>
    </ul>
</div>