<div class="container">
    <div class="account-component">
        <h2>Forgotten Password</h2>
        <p>It happens to the best of us! Enter your email below and we'll send you a link so you can setup a new
            password.</p>
        <div class="sign-in-container">
            <div class="email">
                <h4>Email Address</h4>
                <div class="text-input">
                    <input type="email" />
                </div>
            </div>
            <div class="button">
                <h4>Send Email</h4>
            </div>
        </div>
    </div>
</div>