.container h2 {
    text-align: center;
    font-size: 3rem;
}

.account-component {
    background-color: white;
    border: 1px solid #DCD0C0;
    border-radius: 3px;
    width: 40%;
    margin: 0 auto;
    height: auto;
}

.account-component p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.email {
    margin-top: 50px;
}

.email h4 {
    width: 80%;
    margin: 0 auto;
}

.text-input {
    width: 80%;
    border-radius: 3px;
    margin-top: 5px;
    height: 40px;
}

.text-input input {
    margin-top: 5px;
    width: 100%;
    color: #373737;
}

.text-input.password input {
    width: 80%;
}

.text-input.password i {
    float: right;
    padding: 12px 15px;
    cursor: pointer;
}

.button {
    width: 60%;
    height: 50px;
    background-color: #373737;
    color: #f4f4f4;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.button h4 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
}

.sign-in-container {
    margin-bottom: 25px;
}