<account-menu></account-menu>

<div class="container">
    <div class="page-content">
        <p class="page-greeting">Hey Alex</p>
    </div>
    <p>Get a quick overview of your account here.</p>

    <div class="account-overview">
        <p class="page-details">My Details</p>

        <div class="row">
            <div class="col-sm-2">
                Name
            </div>
            <div class="col-sm-2">
                Mr. Alex Johnson
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Email Address
            </div>
            <div class="col-sm-2">
                alex_football_2k8@hotmail.co.uk
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Gender
            </div>
            <div class="col-sm-2">
                -
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Date of Birth
            </div>
            <div class="col-sm-2">
                28 May 1996
            </div>
        </div>
        <div class="button" (click)="editMyDetails();">
            <h4>Edit My Details</h4>
        </div>
    </div>
    <div class="account-overview" style="margin-top: 35px !important;">
        <p class="page-details">Contact Preferences</p>
        <p>Sign up to our newsletter and be the first to hear the latest offers, events, news and updates from us at Lace Boutique.</p>
        <div class="button">
            <h4>Change my Contact Preferences</h4>
        </div>
    </div>
    <div class="account-overview" style="margin-top: 35px !important;">
            <p class="page-details">Current Orders</p>
            <p>Orders made in the last 30 days will appear here for you to quickly review and manage.</p>
            <p>You haven't placed any recent orders.</p>
            <div class="button">
                <h4>View all Orders</h4>
            </div>
        </div>
</div>