<account-menu></account-menu>

<div class="container">
    <div class="page-content">
        <p class="page-greeting">Hey {{account?.firstName}}</p>
    </div>
    <p>Get a quick overview of your account here.</p>

    <div class="account-overview">
        <p class="page-details">My Details</p>

        <div class="row">
            <div class="col-sm-2">
                Name
            </div>
            <div class="col-sm-2">
                {{account?.title}}. {{account?.firstName}} {{account?.lastName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Email Address
            </div>
            <div class="col-sm-2">
                {{account?.emailAddress}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Gender
            </div>
            <div class="col-sm-2">
                {{getGender()}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Date of Birth
            </div>
            <div class="col-sm-2">
                {{getDateOfBirth()}}
            </div>
        </div>
        <div class="button" (click)="editMyDetails();">
            <h4>Edit My Details</h4>
        </div>
    </div>
    <div class="account-overview" style="margin-top: 35px !important;">
        <p class="page-details">Contact Preferences</p>
        <p>Sign up to our newsletter and be the first to hear the latest offers, events, news and updates from us at Lace Boutique.</p>
        <div (click)="navigate('contact-preferences');" class="button">
            <h4>Change my Contact Preferences</h4>
        </div>
    </div>
    <div class="account-overview" style="margin-top: 35px !important;">
            <p class="page-details">Current Orders</p>
            <p>View your previous orders, see the status or request a cancellation.</p>
            <div (click)="navigate('my-orders');" class="button">
                <h4>View all Orders</h4>
            </div>
        </div>
</div>