<div class="container">
    <div class="page-content">
        <p class="page-greeting">Your shopping bag</p>
    </div>
    <p>Here you can view the items you've added to your shopping bag, confirm your selection and proceed to checkout.</p>

    <div class="account-overview" style="margin-top: 35px !important;">
        <p class="page-details">Oh dear</p>
        <!-- Replace with method to get a response -->
        <p>You currently have 'no items' in your shopping bag.</p>

        <div class="button">
            <h4>Let's go shopping</h4>
        </div>
    </div>

    <div class="account-overview" style="margin-top: 35px !important">
        <div class="cart-item">
            <div class="row" style="border-bottom: 1px solid #dedede; padding-bottom: 15px;">
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="cart-item-image"></div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                    <div class="cart-item-details">
                        <span class="item-name">name</span>
                        <p class="item-description">description</p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="cart-item-size">
                        <span class="item-name">Size</span>
                        <div class="item-price">XL</div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="cart-item-amount">
                        <span class="item-name">Quantity</span>
                        <div class="item-price">??</div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <div class="cart-item-colour">
                        <span class="item-name">Color</span>
                        <div class="item-price">blue</div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">
                    <div class="cart-item-price">
                        <span class="item-name">Price</span>
                        <div class="item-price">&pound;9.99</div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-2">
                    <div class="cart-item-price">
                        <span class="item-name"></span>
                        <br>
                        <div class="item-price" style="cursor:pointer; text-decoration: underline;">Remove</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="account-overview">
        <div class="row justify-content-end">
            <div class="col-sm-12">
                <div class="button" style="float: right;">
                    <h4>Checkout</h4>
                </div>
            </div>
        </div>
    </div>
</div>