<div class="container">
    <div class="page-content">
        <p class="page-greeting">Your wishlist</p>
    </div>
    <p>Here you can manage your wishlist, add items to your shopping bag or save them for another time!</p>

    <div *ngIf="currentWishlist?.wishlistItems.length == 0" class="account-overview" style="margin-top: 35px !important;">
        <p class="page-details">Oh dear</p>
        <!-- Replace with method to get a response -->
        <p>You currently have no items in your wishlist.</p>

        <div (click)="redirect('/');" class="button">
            <h4>Let's go shopping</h4>
        </div>
    </div>

    <div *ngIf="currentWishlist?.wishlistItems.length > 0" class="account-overview" style="margin-top: 35px !important">
        <p style="text-align: center; margin-bottom: 25px;">You currently have <strong>{{currentWishlist.wishlistItems.length}}</strong>
            items in your wishlist.</p>
        <div class="row">
            <div *ngFor="let wishlistItem of currentWishlist.wishlistItems" class="col-sm-4">
                <div class="shop-item">
                    <div class="item-image" style="background-color: black; height: 300px;">

                    </div>
                    <div class="item-content">
                        <span class="item-name" style="padding-top: 10px;">{{wishlistItem?.itemSpec.item.name}}
                            <span (click)="removeItemFromWishlist(wishlistItem);" style="float: right; margin: 5px; cursor:pointer; text-decoration: underline;">Remove
                                from wishlist</span>
                        </span>
                        <br>
                        <small class="item-description">{{wishlistItem?.itemSpec.item.description}}</small>
                        <br>
                        <p *ngIf="wishlistItem?.itemSpec.item.salePrice == '0'" class="item-price" style="display: inline;">&pound;{{wishlistItem?.itemSpec.item?.price}}</p>
                        <p *ngIf="wishlistItem?.itemSpec.item.salePrice != '0'" class="item-price" style="display: inline; text-decoration: line-through;">&pound;{{wishlistItem?.itemSpec.item?.price}}</p>
                        <p *ngIf="wishlistItem?.itemSpec.item.salePrice != '0'" class="item-price" style="margin-left: 5px; display: inline; color: red;">&pound;{{wishlistItem?.itemSpec.item?.salePrice}}</p>

                    </div>
                    <div (click)="navigate(wishlistItem);" class="button" style="width: 100%;">
                        <h4>Move to Bag</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>