<div class="container">
    <div class="account-component">
        <div class="sign-in-register">
            <div class="sign-in" [ngClass]="{'in-active' : !signIn}" (click)="signIn = true;">
                <h3>Sign In</h3>
            </div>
            <div class="new-customer" [ngClass]="{'in-active' : signIn}" (click)="signIn = false;">
                <h3>New Customer</h3>
            </div>
        </div>
        <div *ngIf="signIn" class="sign-in-container">
            <div class="email">
                <h4>Email Address</h4>
                <div class="text-input">
                    <input [(ngModel)]="loginEmail" type="email" />
                </div>
            </div>
            <div class="password">
                <h4>Password</h4>
                <div class="text-input password">
                    <input [(ngModel)]="loginPassword" type="password" />
                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div (click)="attemptLogin();" class="button">
                <h4>Login</h4>
            </div>
            <div class="forgot-password" (click)="navigateToForgotten();">
                <p>Forgotten Password?</p>
            </div>
        </div>

        <div *ngIf="!signIn && !registerInfo" class="new-customer-container">
            <div class="email">
                <h4>Email Address</h4>
                <div class="text-input">
                    <input [(ngModel)]="registerEmail" type="email" />
                </div>
            </div>
            <div (click)="showRegistrationProcess();" class="button">
                <h4>Continue</h4>
            </div>
        </div>

        <div *ngIf="registerInfo" class="new-customer-container">
            <br>
            <div class="title">
                <h4>Title</h4>
                <div class="title-input">
                    <select [(ngModel)]="registerTitle" id="title" name="title">
                        <option disabled value="">Please select</option>
                        <option selected="selected" value="Mr">Mr.</option>
                        <option value="Mrs">Mrs.</option>
                        <option value="Miss">Miss.</option>
                        <option value="Ms">Ms.</option>
                    </select>
                </div>
            </div>

            <br>
            <div class="firstName">
                <h4>First Name(s)</h4>
                <div class="text-input">
                    <input [(ngModel)]="registerFirstname" type="text" />
                </div>
            </div>

            <br>
            <div class="lastName">
                <h4>Last Name(s)</h4>
                <div class="text-input">
                    <input [(ngModel)]="registerLastname" type="text" />
                </div>
            </div>

            <br>
            <div class="password" style="margin-top: 0;">
                <h4>Password</h4>
                <div class="text-input">
                    <input [(ngModel)]="registerPassword" type="password" />
                </div>
            </div>

            <br>
            <div class="title-input">
                <input id="male" type="checkbox" class="hidden-checkbox">
                <label for="male" class="real-checkbox" style="margin-left: 2px;" (click)="registerNewsletter = !registerNewsletter" [ngClass]="{ 'real-checkbox-checked' : registerNewsletter }">
                    I would like to subscribe to the Lace Boutique newsletter <small>(you will may recieve news, offers and sale info via email and can unsubscribe at any time via your account)</small>
                </label>
            </div>

            <div (click)="registerAccount();" class="button">
                <h4>Register</h4>
            </div>
        </div>
    </div>
</div>