<div class="container">
    <div class="account-component">
        <div class="sign-in-register">
            <div class="sign-in" [ngClass]="{'in-active' : !signIn}"  (click)="signIn = true;">
                <h3>Sign In</h3>
            </div>
            <div class="new-customer" [ngClass]="{'in-active' : signIn}" (click)="signIn = false;">
                <h3>New Customer</h3>
            </div>
        </div>
        <div *ngIf="signIn" class="sign-in-container">
            <div class="email">
                <h4>Email Address</h4>
                <div class="text-input">
                    <input type="email" />
                </div>
            </div>
            <div class="password">
                <h4>Password</h4>
                <div class="text-input password">
                    <input type="password" />
                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div class="button">
                <h4>Login</h4>
            </div>
            <div class="forgot-password" (click)="navigateToForgotten();">
                <p>Forgotten Password?</p>
            </div>
        </div>

        <div *ngIf="!signIn" class="new-customer-container">
            <div class="email">
                <h4>Email Address</h4>
                <div class="text-input">
                    <input type="email" />
                </div>
            </div>
            <div class="button">
                <h4>Continue</h4>
            </div>
        </div>
    </div>
</div>