.container h2 {
    text-align: center;
    font-size: 3rem;
}

.account-component {
    background-color: white;
    border: 1px solid #DCD0C0;
    border-radius: 3px;
    width: 40%;
    margin: 0 auto;
    height: auto;
}

.sign-in, .new-customer {
    width: 50%;
    display: inline-block;
    min-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sign-in h3, .new-customer h3 {
    padding-top: 15px;
}

.in-active {
    background-color: #DCD0C0;
}

.email, .password {
    margin-top: 40px;
}

.email {
    margin-top: 50px;
}

.email h4, .password h4, .title h4, .firstName h4, .lastName h4 {
    width: 80%;
    margin: 0 auto;
}

.text-input {
    width: 80%;
    border-radius: 3px;
    margin-top: 5px;
    height: 40px;
}

.text-input input {
    margin-top: 5px;
    width: 100%;
    color: #373737;
}

.title-input select {
    border-radius: 3px;
    border-color: #DCD0C0;
    padding: 5px;
}

.title-input {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

.text-input.password input {
    width: 80%;
}

.text-input.password i {
    float: right;
    padding: 12px 15px;
    cursor: pointer;
}

.forgot-password {
    padding-top: 25px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
    cursor: pointer;
}

.sign-in-container, .new-customer-container {
    margin-bottom: 25px;
}