<div class="container">
    <div class="page-content">
        <p class="page-greeting">Order Placed</p>
    </div>
    <p>Your order has been placed and we have emailed you your confirmation. To track the progress of your order, you can view recent orders via your online account. If you do not have an account, updates will be emailed to the email address used when placing the order.</p>

    <div class="account-overview" style="margin-top: 35px !important;">

        <div (click)="navigate();" class="button">
            <h4>Back to home</h4>
        </div>
    </div>
</div>